
.inner_container {
	padding:100px 0;
}

ul#app_list {
	list-style-type:none;	
	margin:0;padding:0;
}
ul#app_list li {
	float:left;
	padding:10px;
	width:10%;
	-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
			box-sizing:border-box;
}
.app {
	cursor:pointer;
}

#search_table {
	width:100%;
	padding:5px;
	font-size:20px;
	margin:10px 0;
}

.word {
	display:inline-block;
	margin-right:10px;
}

#word_occurence {
	padding:20px 0;
}

.highlight {
	background-color:rgba(0,0,0,0.2);
}
